@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	/* outline: 1px solid red; */
}

html {
	scroll-behavior: smooth;
}

::selection {
	color: #fff;
	background-color: #000;
}

@layer base {
	body {
		@apply bg-white font-body text-black;
	}

	input {
		@apply w-full appearance-none bg-transparent;
	}

	input:focus {
		outline: none;
	}

	i,
	a,
	img,
	span,
	small {
		@apply block;
	}
}
